/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 18, 2015, 10:55:10 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
@import "compass";

@import "compass/reset";

@import "compass/css3";

@import "colors/_mtColors.scss";

@import "fonts/_mtFonts.scss";

@import "buttons/buttons.scss";

@import "helpers/_mixins.scss";
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* Global */
body {

    background-image: url('/views/img/bg-dk.png');
    background-repeat: no-repeat;
    background-size: cover;
  position: relative;

}
row {
    
    width: 100%;
    
}

@import "sections/_splash.scss";
@import "layouts/_navBar.scss";
@import "sections/_services.scss";
@import "sections/_examples.scss";
@import "sections/_testamonials.scss";
@import "sections/_coverageMap.scss";
@import "layouts/_footer.scss";



/*
Sections
*/

#sLocksmithFooter {
    height: 400px;
    width: 100%;
    background-image: url('/views/img/bg-light.png');
    background-repeat: no-repeat;
    background-size: cover;
}



#serviceExampleBreakImg {
    
    width: 200px;
    height: auto;
    position: relative;
    left: 50%;
    bottom: 50px;
}

/** helper classes */


.noBreak {
        white-space: nowrap;
    
}

.font-white {
    color: white;
}



.primary-font-color {
    color: $primary-dark-color;
    
}

.primary-font-color-light {
    color: $primary-light-color;
    }