/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 28, 2015, 7:15:20 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
#cRIconSpan{
    position: relative;
    top:10px;
    
}
#serviceWrapper {
    
    color: $primary-light-color;
    font-family: $paragraph-font;
    display: block;
    position: relative;
    top: 50px;
    height: auto;
    min-height: 350px;
     margin: 0 0 50px 0;
    padding: 0 0 0 0;
   background-image: url('../../../views/img/bg-dk.png');
#commercialAndResidential {
    
    
}
    .well {
        
        
    background-image: url('../../../views/img/bgSchematicLock.png');
        background-repeat: repeat-x;
        background-size: contain;
        display: block;
        position: relative;
        width: 80%;
        left: 50px;
        
        .container {
            
            width: 100%;
        }
        
    }
    
    .btn {
  background: #045387;
  background-image: -webkit-linear-gradient(top, #045387, #f5f5f5);
  background-image: -moz-linear-gradient(top, #045387, #f5f5f5);
  background-image: -ms-linear-gradient(top, #045387, #f5f5f5);
  background-image: -o-linear-gradient(top, #045387, #f5f5f5);
  background-image: linear-gradient(to bottom, #045387, #f5f5f5);
  -webkit-border-radius: 53;
  -moz-border-radius: 53;
  border-radius: 53px;
  font-family: $button-font;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #d1d1d1 2px;
  text-decoration: none;
}

.btn:hover {
  background: #b2e7ff;
  background-image: -webkit-linear-gradient(top, #b2e7ff, #1b4561);
  background-image: -moz-linear-gradient(top, #b2e7ff, #1b4561);
  background-image: -ms-linear-gradient(top, #b2e7ff, #1b4561);
  background-image: -o-linear-gradient(top, #b2e7ff, #1b4561);
  background-image: linear-gradient(to bottom, #b2e7ff, #1b4561);
  text-decoration: none;
}
     h1 {             
                font-family: $header-font;
  
            }
    
            .serviceBtnIcon {
            
        color: white;    
        
            
        }    
        .panel {
           
            color: black;
            .panel-heading, .panel-title {
                font-family: $header-font;
                
            }
            .panel-body {
                
                font-family: $paragraph-font;
            }
        }
}
        
.a-btn{
    background: linear-gradient(top, #80a9da 0%,#6f97c5 100%);
    padding-left: 20px;
    padding-right: 80px;
    height: 42px;
    display: inline-block;
    position: relative;
    border: 1px solid #5d81ab;
    box-shadow: 
		0px 1px 1px rgba(255,255,255,0.8) inset, 
		1px 1px 3px rgba(0,0,0,0.2), 
		0px 0px 0px 4px rgba(188,188,188,0.5);
    border-radius: 20px;
    //float: left;
    clear: both;
    margin: 10px 0px;
    overflow: hidden;
    transition: all 0.3s linear;
}
.a-btn-text{
    padding-top: 5px;
    display: block;
    font-size: 18px;
    white-space: nowrap;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    color: #446388;
    transition: all 0.2s linear;
}
.a-btn-slide-text{
    position:absolute;
    height: auto;
    top: 0px;
    right: 52px;
    width: 0px;
    background: #63707e;
    text-shadow: 0px -1px 1px #363f49;
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: left;
    text-indent: 10px;
    overflow: hidden;
    line-height: 38px;
    box-shadow: 
		-1px 0px 1px rgba(255,255,255,0.4), 
		1px 1px 2px rgba(0,0,0,0.2) inset;
    transition: width 0.3s linear;
}
.a-btn-icon-right{
    position: absolute;
    right: 0px;
    top: 5px;
    height: auto;
    width: 52px;
    border-left: 1px solid #5d81ab;
    box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width: 38px;
    height: auto;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0px 0px -20px;
    background: transparent url(/views/img/icon/svgs/building-o.svg) no-repeat 50% 55%;
    transition: all 0.3s linear;
}
.a-btn:hover{
    padding-right: 680px;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
.a-btn:hover .a-btn-text{
    text-shadow: 0px 1px 1px #5d81ab;
    color: #fff;
}
.a-btn:hover .a-btn-slide-text{
    width: 600px;
}
.a-btn:hover .a-btn-icon-right span{
    opacity: 1;
}


#slServiceSection00 {
    height: auto;
    width: 100%;

    
}

#slServiceSection01 {
    
    height: auto;
    width: 100%;
  
    
    
}
    
#servicesHeader {
display: block;
    width: 100%;
    height: 150px;
    margin: 0 0 30px 0;
    background-image: url('/views/img/bg-light.png');
    
}

#servicesHeaderContents {
    display: block;
    position: relative;
    top: -50px;
    color: $primary-light-color;  
    h1 {
        font-size: 48px;
            font-family: $header-font; 

    }

}    
    

    




