/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 28, 2015, 7:15:13 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
@media (max-width: 768px) {



}
@media (min-width: 769px) {



}

#sLocksmithSplash {

    display: block;
    height: 420px;
    margin: 0 0 75px 0;

    jumbotron {
        display: block;
        width: 100%;
        height: 350px;
        margin: 0 0 30px 0;
        background-image: url('/views/img/transparentLockSchem.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: $primary-light-color;  
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    #sLocksmithBannerContent {
        display: block;
        position: relative;
        top: -370px;
        padding: 20px 20px 0 20px;
        transition: all 0.3s linear;
        h1 {
            font-family: $header-font;
            font-weight: bold;
            font-size: 48px;

        }
       strong {
            font-family: $sub-title-font;
            color: $primary-grey;
            font-size: 28px;
        }
    }
    button {

        position: relative;
        left: 10%;
        width: 60%;
        height: auto;
        color: $primary-light-color;
        font-family: $button-font;
        font-size:3 8px;


        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        text-shadow: 5px 3px 5px #2e4242;
        -webkit-box-shadow: 8px 9px 20px #242424;
        -moz-box-shadow: 8px 9px 20px #242424;
        box-shadow: 8px 9px 20px #242424;
        font-family: $button-font;
        font-size: 32px;
        padding: 14px 15px 10px 20px;
        border: solid #000000 2px;
        min-width: 360px;
        width: auto;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;

    } 


}




