/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 30, 2015, 5:27:02 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* line 21, ../../sass/buttons/buttons.scss */
.fx-button-1 {
  background: #80a9da;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#80a9da, 0), color-stop(#6f97c5, 1));
  background: -webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: -moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: -o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
  padding-left: 90px;
  padding-right: 105px;
  height: 90px;
  display: inline-block;
  position: relative;
  border: 1px solid #5d81ab;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  clear: both;
  margin: 10px 0px;
  overflow: hidden;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

/* line 50, ../../sass/buttons/buttons.scss */
.fx-button-1 img {
  position: absolute;
  left: 15px;
  top: 13px;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 60, ../../sass/buttons/buttons.scss */
.fx-button-1 .fx-button-1-slide-text {
  position: absolute;
  font-size: 36px;
  top: 18px;
  left: 18px;
  color: #bde086;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 78, ../../sass/buttons/buttons.scss */
.fx-button-1
.fx-button-1 {
  padding-top: 13px;
  display: block;
  font-size: 30px;
  text-shadow: 0px -1px 1px #5d81ab;
}

/* line 85, ../../sass/buttons/buttons.scss */
.fx-button-1 small {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
}

/* line 90, ../../sass/buttons/buttons.scss */
.fx-button-1-icon-right {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 80px;
  border-left: 1px solid #5d81ab;
  -webkit-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
}

/* line 101, ../../sass/buttons/buttons.scss */
.fx-button-1-icon-right span {
  width: 38px;
  height: 38px;
  opacity: 0.7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0px 0px -20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #5b5b5b url(../images/arrow_down.png) no-repeat center center;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 122, ../../sass/buttons/buttons.scss */
.fx-button-1:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
}

/* line 127, ../../sass/buttons/buttons.scss */
.fx-button-1:hover img {
  opacity: 0;
}

/* line 130, ../../sass/buttons/buttons.scss */
.fx-button-1:hover .fx-button-1-slide-text {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 138, ../../sass/buttons/buttons.scss */
.fx-button-1:hover .a-btn-icon-right span {
  opacity: 1;
  background-color: #bc3532;
}

/* line 142, ../../sass/buttons/buttons.scss */
.fx-button-1:active {
  position: relative;
  top: 1px;
  background: #5d81ab;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #80a9da;
}

/* line 151, ../../sass/buttons/buttons.scss */
.fx-button-1:active .a-btn-icon-right span {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
