/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 18, 2015, 10:55:10 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:700|Droid+Serif|Titillium+Web:300|Bitter|Quattrocento&effect=shadow-multiple|3d);
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 19, 2015, 1:34:00 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 19, 2015, 1:31:47 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 30, 2015, 5:27:02 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* line 21, ../sass/buttons/buttons.scss */
.fx-button-1 {
  background: #80a9da;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#80a9da, 0), color-stop(#6f97c5, 1));
  background: -webkit-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: -moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: -o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
  background: linear-gradient(to bottom, #80a9da 0%, #6f97c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
  padding-left: 90px;
  padding-right: 105px;
  height: 90px;
  display: inline-block;
  position: relative;
  border: 1px solid #5d81ab;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  clear: both;
  margin: 10px 0px;
  overflow: hidden;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

/* line 50, ../sass/buttons/buttons.scss */
.fx-button-1 img {
  position: absolute;
  left: 15px;
  top: 13px;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 60, ../sass/buttons/buttons.scss */
.fx-button-1 .fx-button-1-slide-text {
  position: absolute;
  font-size: 36px;
  top: 18px;
  left: 18px;
  color: #bde086;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 78, ../sass/buttons/buttons.scss */
.fx-button-1
.fx-button-1 {
  padding-top: 13px;
  display: block;
  font-size: 30px;
  text-shadow: 0px -1px 1px #5d81ab;
}

/* line 85, ../sass/buttons/buttons.scss */
.fx-button-1 small {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
}

/* line 90, ../sass/buttons/buttons.scss */
.fx-button-1-icon-right {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 80px;
  border-left: 1px solid #5d81ab;
  -webkit-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
}

/* line 101, ../sass/buttons/buttons.scss */
.fx-button-1-icon-right span {
  width: 38px;
  height: 38px;
  opacity: 0.7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0px 0px -20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #5b5b5b url(../images/arrow_down.png) no-repeat center center;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 122, ../sass/buttons/buttons.scss */
.fx-button-1:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
}

/* line 127, ../sass/buttons/buttons.scss */
.fx-button-1:hover img {
  opacity: 0;
}

/* line 130, ../sass/buttons/buttons.scss */
.fx-button-1:hover .fx-button-1-slide-text {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 138, ../sass/buttons/buttons.scss */
.fx-button-1:hover .a-btn-icon-right span {
  opacity: 1;
  background-color: #bc3532;
}

/* line 142, ../sass/buttons/buttons.scss */
.fx-button-1:active {
  position: relative;
  top: 1px;
  background: #5d81ab;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  border-color: #80a9da;
}

/* line 151, ../sass/buttons/buttons.scss */
.fx-button-1:active .a-btn-icon-right span {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Sep 5, 2015, 12:02:17 PM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Global */
/* line 28, ../sass/main.scss */
body {
  background-image: url("/views/img/bg-dk.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* line 36, ../sass/main.scss */
row {
  width: 100%;
}

/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 28, 2015, 7:15:13 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* line 31, ../sass/sections/_splash.scss */
#sLocksmithSplash {
  display: block;
  height: 420px;
  margin: 0 0 75px 0;
}
/* line 37, ../sass/sections/_splash.scss */
#sLocksmithSplash jumbotron {
  display: block;
  width: 100%;
  height: 350px;
  margin: 0 0 30px 0;
  background-image: url("/views/img/transparentLockSchem.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #BBF5F7;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
/* line 53, ../sass/sections/_splash.scss */
#sLocksmithSplash #sLocksmithBannerContent {
  display: block;
  position: relative;
  top: -370px;
  padding: 20px 20px 0 20px;
  transition: all 0.3s linear;
}
/* line 59, ../sass/sections/_splash.scss */
#sLocksmithSplash #sLocksmithBannerContent h1 {
  font-family: "Quattrocento";
  font-weight: bold;
  font-size: 48px;
}
/* line 65, ../sass/sections/_splash.scss */
#sLocksmithSplash #sLocksmithBannerContent strong {
  font-family: "Source Serif Pro";
  color: #DBDBDB;
  font-size: 28px;
}
/* line 71, ../sass/sections/_splash.scss */
#sLocksmithSplash button {
  position: relative;
  left: 10%;
  width: 60%;
  height: auto;
  color: #BBF5F7;
  font-family: "Bitter";
  font-size: 3 8px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 5px 3px 5px #2e4242;
  -webkit-box-shadow: 8px 9px 20px #242424;
  -moz-box-shadow: 8px 9px 20px #242424;
  box-shadow: 8px 9px 20px #242424;
  font-family: "Bitter";
  font-size: 32px;
  padding: 14px 15px 10px 20px;
  border: solid #000000 2px;
  min-width: 360px;
  width: auto;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 19, 2015, 2:05:08 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* line 21, ../sass/layouts/_navBar.scss */
#sLocksmithLayout {
  margin: 25px 0 0 0;
  padding-bottom: 10px;
}
/* line 24, ../sass/layouts/_navBar.scss */
#sLocksmithLayout nav {
  display: block;
  margin: 0 0 0 0;
  border: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Bitter";
  font-size: 18px;
  height: auto;
  width: 100%;
  background: black;
  /* Old browsers */
  background: -moz-linear-gradient(top, black 15%, #3e567c 66%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, black), color-stop(66%, #3e567c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 15%, #3e567c 66%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 15%, #3e567c 66%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, black 15%, #3e567c 66%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 15%, #3e567c 66%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3e567c',GradientType=0 );
  /* IE6-9 */
}
/* line 44, ../sass/layouts/_navBar.scss */
#sLocksmithLayout nav ul {
  display: block;
  border: 0 0 0 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  bottom: 20px;
  left: 45px;
  height: 100%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  transition: all 0.3s linear;
  white-space: nowrap;
}
/* line 54, ../sass/layouts/_navBar.scss */
#sLocksmithLayout nav ul li {
  border: 0 0 0 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 70px;
  width: auto;
}
/* line 62, ../sass/layouts/_navBar.scss */
#sLocksmithLayout nav ul a {
  border: 0 0 0 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
  width: auto;
}
/* line 71, ../sass/layouts/_navBar.scss */
#sLocksmithLayout nav ul :active, #sLocksmithLayout nav ul :hover, #sLocksmithLayout nav ul :focus {
  background-color: whitesmoke;
  color: darkslategray;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
/* line 88, ../sass/layouts/_navBar.scss */
#sLocksmithLayout nav .navbar-toggle {
  bottom: 16px;
}
/* line 91, ../sass/layouts/_navBar.scss */
#sLocksmithLayout nav .navbar-brand img {
  display: block;
  position: relative;
  bottom: 10px;
  left: 0px;
  background-color: #ccffff;
}

/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 28, 2015, 7:15:20 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* line 20, ../sass/sections/_services.scss */
#cRIconSpan {
  position: relative;
  top: 10px;
}

/* line 25, ../sass/sections/_services.scss */
#serviceWrapper {
  color: #BBF5F7;
  font-family: "Droid Serif";
  display: block;
  position: relative;
  top: 50px;
  height: auto;
  min-height: 350px;
  margin: 0 0 50px 0;
  padding: 0 0 0 0;
  background-image: url("../../../views/img/bg-dk.png");
}
/* line 41, ../sass/sections/_services.scss */
#serviceWrapper .well {
  background-image: url("../../../views/img/bgSchematicLock.png");
  background-repeat: repeat-x;
  background-size: contain;
  display: block;
  position: relative;
  width: 80%;
  left: 50px;
}
/* line 52, ../sass/sections/_services.scss */
#serviceWrapper .well .container {
  width: 100%;
}
/* line 59, ../sass/sections/_services.scss */
#serviceWrapper .btn {
  background: #045387;
  background-image: -webkit-linear-gradient(top, #045387, #f5f5f5);
  background-image: -moz-linear-gradient(top, #045387, #f5f5f5);
  background-image: -ms-linear-gradient(top, #045387, #f5f5f5);
  background-image: -o-linear-gradient(top, #045387, #f5f5f5);
  background-image: linear-gradient(to bottom, #045387, #f5f5f5);
  -webkit-border-radius: 53;
  -moz-border-radius: 53;
  border-radius: 53px;
  font-family: "Bitter";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #d1d1d1 2px;
  text-decoration: none;
}
/* line 77, ../sass/sections/_services.scss */
#serviceWrapper .btn:hover {
  background: #b2e7ff;
  background-image: -webkit-linear-gradient(top, #b2e7ff, #1b4561);
  background-image: -moz-linear-gradient(top, #b2e7ff, #1b4561);
  background-image: -ms-linear-gradient(top, #b2e7ff, #1b4561);
  background-image: -o-linear-gradient(top, #b2e7ff, #1b4561);
  background-image: linear-gradient(to bottom, #b2e7ff, #1b4561);
  text-decoration: none;
}
/* line 86, ../sass/sections/_services.scss */
#serviceWrapper h1 {
  font-family: "Quattrocento";
}
/* line 91, ../sass/sections/_services.scss */
#serviceWrapper .serviceBtnIcon {
  color: white;
}
/* line 97, ../sass/sections/_services.scss */
#serviceWrapper .panel {
  color: black;
}
/* line 100, ../sass/sections/_services.scss */
#serviceWrapper .panel .panel-heading, #serviceWrapper .panel .panel-title {
  font-family: "Quattrocento";
}
/* line 104, ../sass/sections/_services.scss */
#serviceWrapper .panel .panel-body {
  font-family: "Droid Serif";
}

/* line 111, ../sass/sections/_services.scss */
.a-btn {
  background: linear-gradient(to bottom, #80a9da 0%, #6f97c5 100%);
  padding-left: 20px;
  padding-right: 80px;
  height: 42px;
  display: inline-block;
  position: relative;
  border: 1px solid #5d81ab;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 0px 4px rgba(188, 188, 188, 0.5);
  border-radius: 20px;
  clear: both;
  margin: 10px 0px;
  overflow: hidden;
  transition: all 0.3s linear;
}

/* line 130, ../sass/sections/_services.scss */
.a-btn-text {
  padding-top: 5px;
  display: block;
  font-size: 18px;
  white-space: nowrap;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
  color: #446388;
  transition: all 0.2s linear;
}

/* line 139, ../sass/sections/_services.scss */
.a-btn-slide-text {
  position: absolute;
  height: auto;
  top: 0px;
  right: 52px;
  width: 0px;
  background: #63707e;
  text-shadow: 0px -1px 1px #363f49;
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: left;
  text-indent: 10px;
  overflow: hidden;
  line-height: 38px;
  box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  transition: width 0.3s linear;
}

/* line 160, ../sass/sections/_services.scss */
.a-btn-icon-right {
  position: absolute;
  right: 0px;
  top: 5px;
  height: auto;
  width: 52px;
  border-left: 1px solid #5d81ab;
  box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
}

/* line 169, ../sass/sections/_services.scss */
.a-btn-icon-right span {
  width: 38px;
  height: auto;
  opacity: 0.7;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0px 0px -20px;
  background: transparent url(/views/img/icon/svgs/building-o.svg) no-repeat 50% 55%;
  transition: all 0.3s linear;
}

/* line 180, ../sass/sections/_services.scss */
.a-btn:hover {
  padding-right: 680px;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 184, ../sass/sections/_services.scss */
.a-btn:hover .a-btn-text {
  text-shadow: 0px 1px 1px #5d81ab;
  color: #fff;
}

/* line 188, ../sass/sections/_services.scss */
.a-btn:hover .a-btn-slide-text {
  width: 600px;
}

/* line 191, ../sass/sections/_services.scss */
.a-btn:hover .a-btn-icon-right span {
  opacity: 1;
}

/* line 196, ../sass/sections/_services.scss */
#slServiceSection00 {
  height: auto;
  width: 100%;
}

/* line 203, ../sass/sections/_services.scss */
#slServiceSection01 {
  height: auto;
  width: 100%;
}

/* line 212, ../sass/sections/_services.scss */
#servicesHeader {
  display: block;
  width: 100%;
  height: 150px;
  margin: 0 0 30px 0;
  background-image: url("/views/img/bg-light.png");
}

/* line 221, ../sass/sections/_services.scss */
#servicesHeaderContents {
  display: block;
  position: relative;
  top: -50px;
  color: #BBF5F7;
}
/* line 226, ../sass/sections/_services.scss */
#servicesHeaderContents h1 {
  font-size: 48px;
  font-family: "Quattrocento";
}

/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 28, 2015, 7:15:29 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* line 21, ../sass/sections/_examples.scss */
#sLocksmithExamples {
  display: block;
  min-height: 450px;
  height: auto;
  color: white;
}

/* line 30, ../sass/sections/_examples.scss */
.view-tenth img {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

/* line 42, ../sass/sections/_examples.scss */
.view-tenth .mask {
  background-color: rgba(255, 231, 179, 0.3);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 53, ../sass/sections/_examples.scss */
.view-tenth h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  color: #333;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 72, ../sass/sections/_examples.scss */
.view-tenth p {
  color: #333;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 88, ../sass/sections/_examples.scss */
.view-tenth a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 103, ../sass/sections/_examples.scss */
.view-tenth:hover img {
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 113, ../sass/sections/_examples.scss */
.view-tenth:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 118, ../sass/sections/_examples.scss */
.view-tenth:hover h2, .view-tenth:hover p, .view-tenth:hover a.info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 130, ../sass/sections/_examples.scss */
.view {
  width: 300px;
  height: 200px;
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center;
}

/* line 145, ../sass/sections/_examples.scss */
.view .mask, .view .content {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

/* line 153, ../sass/sections/_examples.scss */
.view img {
  display: block;
  position: relative;
}

/* line 157, ../sass/sections/_examples.scss */
.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}

/* line 167, ../sass/sections/_examples.scss */
.view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #000;
  padding: 10px 20px 20px;
  text-align: center;
}

/* line 176, ../sass/sections/_examples.scss */
.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 1px #000;
  -moz-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
}

/* line 187, ../sass/sections/_examples.scss */
.view a.info:hover {
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 28, 2015, 7:15:45 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* line 22, ../sass/sections/_testamonials.scss */
#testimonialHeader h1 {
  font-family: "Quattrocento";
  color: #BBF5F7;
}

/* line 28, ../sass/sections/_testamonials.scss */
#sLocksmithTestomnies {
  background-color: #333333;
  border: 1px solid white;
  height: 300px;
  margin: 10px 0 20px 0;
}

/* line 35, ../sass/sections/_testamonials.scss */
#testimoniesCarousel {
  display: block;
  height: 250px;
}
/* line 39, ../sass/sections/_testamonials.scss */
#testimoniesCarousel .item {
  height: 225px;
}

/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 28, 2015, 7:16:14 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* line 21, ../sass/sections/_coverageMap.scss */
#sLocksmithCoverageArea {
  display: block;
  margin: 30px 0 0 0;
  height: auto;
}

/*
Copyright 2015 Simple Design <Rob.Xcog at xcogstudios@gmail.com>.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* 
    Created on : Aug 28, 2015, 7:19:40 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/*
Sections
*/
/* line 56, ../sass/main.scss */
#sLocksmithFooter {
  height: 400px;
  width: 100%;
  background-image: url("/views/img/bg-light.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 66, ../sass/main.scss */
#serviceExampleBreakImg {
  width: 200px;
  height: auto;
  position: relative;
  left: 50%;
  bottom: 50px;
}

/** helper classes */
/* line 78, ../sass/main.scss */
.noBreak {
  white-space: nowrap;
}

/* line 83, ../sass/main.scss */
.font-white {
  color: white;
}

/* line 89, ../sass/main.scss */
.primary-font-color {
  color: #1C94B6;
}

/* line 94, ../sass/main.scss */
.primary-font-color-light {
  color: #BBF5F7;
}
