.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-star-o {
	width: 0.9287109375em;
}

.icon-home {
	width: 0.9287109375em;
}

.icon-lock {
	width: 0.642578125em;
}

.icon-tag {
	width: 0.8571428571428572em;
}

.icon-phone {
	width: 0.7861328125em;
}

.icon-unlock {
	width: 0.9287109375em;
}

.icon-credit-card {
	width: 1.0712890625em;
}

.icon-feed {
	width: 0.7861328125em;
}

.icon-wrench {
	width: 0.9287109375em;
}

.icon-bolt {
	width: 0.5em;
}

.icon-building-o {
	width: 0.7861328125em;
}

.icon-shield {
	width: 0.7138671875em;
}

.icon-automobile {
	width: 1.142578125em;
}

.icon-wifi {
	width: 1.142578125em;
}

.icon-connection {
	width: 1.25em;
}
